/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Font Settings */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: white;
    background-color: #0000;
    padding: 20px;
}

.background-failed {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh; /* Ensure the background covers the full viewport height */
}

.mission-succeed {
    font-size: 50px;
}

.top-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.language-selector select {
    padding: 5px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    background-color: #000;
    color: #ccc;
}


.language-selector {
    margin-left: auto;
    margin-right: 30px;
    background-color: #000;
}

form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.frame {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: white;
}

/* Heading Styles */
h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    color: white;
}

/* Paragraphs */
p {
    margin-bottom: 15px;
}

/* Links */
a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Lists */
ul, ol {
    margin-bottom: 15px;
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

/* Images */
img {
    max-width: 100%;
    height: auto;
}

/* Forms */
input, textarea {
    font-family: inherit;
    font-size: inherit;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 40%;
}

/* Hide the default checkbox */
.custom-checkbox input[type="checkbox"] {
    display: none;
}

/* Create a custom checkmark */
.custom-checkbox .checkmark {
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #ccc;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    cursor: pointer;
}

/* Style the checkmark when checked */
.custom-checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #4CAF50;
}

/* Create the checkmark symbol */
.custom-checkbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.custom-checkbox input[type="checkbox"]:checked + .checkmark:after {
    display: block;
}

.custom-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

/* Style for the label */
.custom-checkbox {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.digit-input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    margin-right: 5px;
}

/* Style for the submit button */
input[type="submit"] {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input[type="text"] {
    height: 50px; /* Set the desired height */
    padding: 0 10px;
    width: 45%;
    font-size: 16px;
    margin-right: 10px; /* Space between inputs */
}

button {
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.submit-image {
    width: 70px; /* Set the same height as the text inputs */
    border: none;
    padding: 0;
    cursor: pointer;
    object-fit: cover;
}

/* Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.error {
    color: red;
    text-align: center;
}

#progress-bar {
    height: 20px; /* Adjust height as desired */
    width: 0; /* Initially zero width */
    background-color: #007bff; /* Adjust color as desired */
    transition: width 1s ease-in-out; /* Add smooth transition */
    border-radius: 5px; /* Add rounded corners */
}

#progress-container {
    width: 100%; /* Full width of the parent */
    background-color: #ddd;
    border: 1px solid #ccc;
    border-radius: 5px; /* Match the progress bar's corners */
}

.crystal {
    display: inline-block;
    object-fit: cover;
    width: 50px;
    background-color: #000;
    margin: 10px;
    animation: spin 2s linear infinite;
}

.crystal-blank {
    display: inline-block;
    object-fit: cover;
    width: 50px;
    background-color: #fff;
    margin: 10px;
    animation: spin 2s linear infinite;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}

.time {
    color: #000;
}

.epilogue {
    color: #888;
    font-size: 20px;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}


/* Black background */
html {
    background-color: black;
}

/* Responsive adjustments */
@media screen and (min-width: 768px) {
    /* Adjustments for tablets and larger screens */
    body {
        font-size: 16px; /* Increase font size for larger screens */
    }
}