<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Not Found</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <div id="loading-screen">
        <h1>Loading...</h1>
    </div>
    <script>
      window.addEventListener('load', function() {
          // When the page is fully loaded, hide the loading screen
          document.getElementById('loading-screen').style.display = 'none';
      });
    </script>
    {% if error_code == 1 %}
    <h1>ユーザーが見つかりません。</h1>
    <p>このセッションに登録しているユーザーが見つかりません。</p>
    {% elif error_code == 2 %}
    <h1>ミッションコードが違います。</h1>
    <p>入力されたミッションコードが間違っています。もう一度入力しなおしてください。</p>
    {% elif error_code == 3 %}
    <h1>ミッション失敗</h1>
    <p>入力された暗号が間違っています。</p>
    <p>このミッションを続けられません。</p>
    {% elif error_code == 4 %}
    <h1>アクセスエラー</h1>
    <p>このページには一度しか進めません。</p>
    {% elif error_code == 5 %}
    <h1>ミッションエラー</h1>
    <p>このミッションのコードはすでに入力されました。</p>
    <p>暗号は一度までしか入力でsきません。</p>
    {% elif error_code == 6 %}
    <h1>ミッション失敗</h1>
    <p>入力された暗号が間違っています。</p>
    {% endif %}

    <a href={{ site }}>{{ site }}に戻る。</a>  </body>

    
</body>
</html>