<!DOCTYPE html>
<html lang="ja">
<head>
  <title>GAME HOME</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
  <header>
    <h1>GAME HOME</h1>
  </header>
  <div id="progress-container">
    <div id="progress-bar"></div>
  </div>
  <p>Mission Code</p>
  <p id="user-id">{{ user_id }}</p> <!-- Added id attribute -->
  <form method="POST">
    <input type="text" name="mission_code" placeholder="Mission Code" required>
    <input type="hidden" name="missioncode">
    <input type="submit" value="Next">
  </form>
  <p>{{ message }}</p>
  <p id="time-display"></p>  

  <!-- Pass end_time variable from Python -->
  <input type="hidden" id="end-time" value="{{ end_time }}">

  <!-- Reference the external JavaScript file -->
  <script src="/static/js/timer.js"></script>
</body>
</html>
