<!DOCTYPE html>
<html lang="ja">
<head>
  <title>APP NAME</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <header>
        <h1>APP NAME</h1>
    </header>
    <div class="container">
        <p>Login or Signin</p>
        <form action="/" method="POST">
          <div class="buttons">
            <input type="submit" name="signin" value="signin">
            <input type="submit" name="login" value="login">
          </div>
        </form>
      </div>
</body>
</html>
