<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>INTRODUCE</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <header>
        <h1>INTRODUCE</h1>
    </header>
    <p>Mission description.</p>
    <!-- Create a check box to check if you understand and proceed to ‘/game’. -->
    <p>{{ user_id }}</p>
    <p>{{ session_user_id }}</p>
    <form method="POST">
      <label class="custom-checkbox">
          <input type="checkbox" required>
          <span class="checkmark"></span>
          Agree to terms
      </label>
      <input type="image" src="static\img\form_enter_bottam.png" alt="Submit" class="submit-image">
      <input type="hidden" name="game_start">
    </form>
  </body>
</html>