<!DOCTYPE html>
<html lang="ja">
<head>
  <title>INTRODUCE</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <header>
        <h1>INTRODUCE</h1>
    </header>
    <p>Mission description.</p>
    <!-- Create a check box to check if you understand and proceed to ‘/game’. -->
    <p>{{ user_id }}</p>
    <p>{{ session_user_id }}</p>
    <form method="POST">
        <input type="checkbox" required>
        <input type="submit" name="game_start" value="Next">
      </form>      
</html>