<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <header>
        <h1>LOGIN</h1>
    </header>
    <div class="container">
        <p>Login</p>
        <form action="/login" method="POST" style="display:block;">
            <input type="text" name="username" placeholder="USERNAME" required>
            <input type="text" name="password" placeholder="PASSWORD" required>
            <input type="submit" value="Next">
          </form>   
      </div>
      {% if error %}
        <p class="error">{{ error }}</p>
      {% endif %}
</html>