<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <div id="loading-screen">
        <h1>Loading...</h1>
    </div>
    <script>
      window.addEventListener('load', function() {
          // When the page is fully loaded, hide the loading screen
          document.getElementById('loading-screen').style.display = 'none';
      });
    </script>
    <header class="top-bar">
      <h1>LOGIN</h1>
        <div class="language-selector">
            <select id="language-selector">
                <option value="en">English</option>
                <option value="ja">日本語</option>
            </select>
        </div>
    </header>
    <div class="container">
        <p>Login</p>
        <form action="/login" method="POST" style="display:block;">
            <input type="text" name="username" id="username" placeholder="USERNAME" required>
            <input type="text" name="password" id="password" placeholder="PASSWORD" required>
            <input type="image" src="{{ url_for('static', filename='img/form_enter_bottam.png') }}" alt="Submit" class="submit-image">
          </form>   
      </div>
      {% if error %}
        <p class="error">{{ error }}</p>
      {% endif %}
      <script src="{{ url_for('static', filename='js/localization.js') }}"></script>
</body>
</html>
