<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MISSION</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <header>
        <h1>MISSION</h1>
    </header>
    <div id="progress-container">
        <div id="progress-bar"></div>
    </div>
    <p>{{ user_id }}</p>
    <p>{{ mission_id }}</p>
    <img src="{{ img_domain }}">
    <form method="POST">
        <input type="text" name="cipher" placeholder="cipher" required>
        <input type="hidden" name="cipher_entry">
        <input type="image" src="static\img\form_enter_bottam.png" alt="Submit" class="submit-image">
    </form>      
    <form method="POST">
        <input type="hidden" name="back_game">
        <input type="image" src="static\img\form_back_bottam.png" alt="Submit" class="submit-image">
    </form>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    
    <p id="time-display"></p> <!-- Add this element for displaying time -->
    <p id="hint" style="display:none;">{{ hint_message }}</p> <!-- Add this element for displaying hint -->

    <!-- Pass end_time variable from Python -->
    <input type="hidden" id="end-time" value="{{ end_time }}"> <!-- Ensure this is included -->

    <!-- Reference the external JavaScript file -->
    <script src="/static/js/timer.js"></script>

    <script>
        const submitButton = document.getElementById('submit-button');
      
        submitButton.addEventListener('click', function(event) {
          const confirmation = confirm("You can only submit the cipher once. Are you sure you want to submit it?");
          if (!confirmation) {
            event.preventDefault(); // Prevent form submission if not confirmed
          }
        });
    </script>
</body>
</html>
