<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIGNIN</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <header>
        <h1>SIGNIN</h1>
    </header>
    <div class="container">
        <p>Signin</p>
        <form action="/signin" method="POST" style="display:block;">
            <input type="text" name="username" placeholder="USERNAME" required>
            <input type="text" name="password" placeholder="PASSWORD" required>
            <input type="image" src="static\img\form_enter_bottam.png" alt="Submit" class="submit-image">
          </form>   
      </div>
      {% if error %}
        <p class="error">{{ error }}</p>
      {% endif %}
</body>
</html>