<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SUCCEEDED</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
</head>
<body>
    <div id="loading-screen">
        <h1>Loading...</h1>
    </div>
    <script>
      window.addEventListener('load', function() {
          // When the page is fully loaded, hide the loading screen
          document.getElementById('loading-screen').style.display = 'none';
      });
    </script>
    <h1>ミッション成功</h1>
    <p class="epilogue">手に入れた水晶は突如輝きを放ち始め、それに呼応するように辺りが轟音に包まれた。大地が上昇し始めたのだ。「時間が来てしまったようだ。」私たちは潜水艦に戻り、空へ向かって上昇してゆく大地を眺めつつ、その場を後にした。のちに、空に浮かぶ大陸が発見され、「shukutopia」と呼ばれるようになるのは、また別のお話。</p>
    {% if episode %}
        {% for i in range(1, 4) %}
            <img src="static/img/crystal_img.png" class="crystal">
        {% endfor %}
    {% endif %}
</body>
</html>